body {
  font-family: Helvetica;
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
}

.panel, [data-module] {
  margin: 12px;
  padding: 12px;
  background-color: #555;
  border-radius: 12px;
}

[data-module] h2 {
  margin-top: 0;
}

.keyboard {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.keyboard__key {
  margin: 0;
  padding: 5px;

  width: 30px;
  height: 100px;

  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.keyboard__key:last-child {
  border-right: 1px solid black;
}

.keyboard__key--white {
  color: black;
  background-color: white;
}

.keyboard__key--black {
  color: white;
  background-color: black;
}
